/* CSS by Kristin Wojcik */

/* Color Palette
Primary Pink: #F23568
Light Pink: #F2C2CF
Mid Pink: #F285AD
Teal: #04BFBF
Mint: #04D9B2
*/

/* GLOBAL */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F2C2CF;
    color: #222;
}

header {
    background-color: #F23568;
    color: white;
    text-align: center;
    padding: 1rem;
}

nav {
    background-color: #F285AD;
    padding: 1rem;
}

main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
}

footer {
    background-color: #04BFBF;
    color: white;
    text-align: center;
    padding: 1rem;
}